# do text mode install to be compatible with serial consoles too
text

# Use network installation
network --bootproto=dhcp
url --url={{ install_baseurl }}/BaseOS/x86_64/os/

repo --name="AppStream" --baseurl={{ install_baseurl }}/AppStream/x86_64/os/

# just install the real basics, everything else comes later via Ansible
%packages
@^minimal-environment
@Base

# install nftables
nftables

# show full console logs, no web config console
-cockpit
-cockpit-doc
-plymouth

%end

# enable kdump function
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

# System language
lang en_US.UTF-8

# no firstboot agent, keep all defaults
firstboot --disable

# clear everything on the disks without any safety questions
clearpart --all --initlabel
zerombr

# LVM partitioning with GPT, fill the whole disk with LVM
part biosboot --fstype="biosboot" --ondisk=sda --size=1
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.98 --fstype="lvmpv" --ondisk=sda --size=10000 --grow
volgroup vg_vps --pesize=4096 pv.98

# keep the root partition at a minimum size, we grow it later via Ansible
logvol / --fstype="ext4" --size=5000 --name=root --vgname=vg_vps
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=vg_vps
logvol /var/log --fstype="ext4" --size=2000 --name=log --vgname=vg_vps

# no localized timezone
timezone Etc/UTC --utc

# a kickstart file seems to require at least one password
# either for root or for some user. Just SSH keys doesn't satisfy
# anaconda. So set a password and delete it again in the post section
rootpw --plaintext notsecret

{% for user in sshd_users  %}
{% for curkey in user.pubkeys  %}
sshkey --username=root "{{ curkey }}"
{% endfor %}
{% endfor %}

# automatically reboot after installation is finished
reboot

# commands to run after finishing install
%post

# never ever start qemu-ga, it gives the vm host far too much permissions
systemctl mask qemu-guest-agent.service

# remove the root password again
passwd --lock root

# enable nftables
systemctl disable firewalld
systemctl enable nftables.service

# configure nftables
cat <<EOF > /etc/sysconfig/nftables.conf
#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;

        iif lo accept comment "Accept any localhost traffic"
        ct state invalid drop comment "Drop invalid connections"
        ct state established,related accept comment "Accept established connections"
        meta l4proto ipv6-icmp accept comment "Accept ICMPv6"
        meta l4proto icmp accept comment "Accept ICMP"
        ip6 daddr fe80::/64 udp dport 546 ct state new accept comment "Accept DHCPv6"

        {# Authorize ssh connections from trusted addresses #}
        {% for curaddr in nftables_inbound_trusted_addresses_ssh %}
        ip saddr {{ curaddr }} tcp dport 22 accept
        {% endfor %}
        log prefix "nftables drop input: "
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        log prefix "nftables drop forward: "
    }

    chain output {
        type filter hook output priority filter; policy accept;
    }
}
EOF

%end
