#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;

        iif lo accept comment "Accept any localhost traffic"
        ct state invalid drop comment "Drop invalid connections"
        ct state established,related accept comment "Accept established connections"
        meta l4proto ipv6-icmp accept comment "Accept ICMPv6"
        meta l4proto icmp accept comment "Accept ICMP"
        ip6 daddr fe80::/64 udp dport 546 ct state new accept comment "Accept DHCPv6"

        {# Authorize ssh connections from trusted addresses #}
        {% for curaddr in nftables_inbound_trusted_addresses_ssh %}
        ip saddr {{ curaddr }} tcp dport 22 accept
        {% endfor %}
        {# Authorize http connections to public websites from the public #}
        tcp dport 80 accept
        {# Authorize https connections from trusted clients #}
        {% for curaddr in websites_origin_allow_list %}
        ip saddr {{ curaddr }} tcp dport {{ websites_origin_https_port }} accept
        {% endfor %}
        {# Drop all connections which are not authorized #}
        log prefix "nftables drop input: "
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        log prefix "nftables drop forward: "
    }

    chain output {
        type filter hook output priority filter; policy accept;
    }
}
